header {
        background-color: yellow;
}
nav li {
        display: inline;
        margin right 10px;
}
        
        nav a {
                text-transform: uppercase;
                color:black;
                font-weight: bold;
                font-size: 30px;
                text-decoration: none;
}
nav {
        position: relative; 
        margin-top:20px;
        top: 50px;
        right: 0px;
}

.caixa{
        position:relative;
        width: 940px;
        margin: 0 auto;
}

.logotipo{
        width: 15%;
}

.servicos{
        width: 940px;
        margin: 0 auto;

}

.servicos li{
        display: inline-block;
        text-align: center;
        width:30%;
        vertical-align:top;
        margin: 0 1.0%;
        padding: 30px 0px;
        box-sizing: border-box;
}

.servico img{
        width: 200px;
        height:200px;
}

.servicos h2{
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 15px;
}

.descricao {
        font-size: 18px;
}


.preco {
        font-size: 22px;
        font-weight: bold;
        margin-top: 10px;
}