h1 {
    text-align: center;
    color:yellow;
    font-size:68px;
    font-style:italic;
    background-color: black;
}

.imagem {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-color: yellow;
    border-radius: 40px;
    border-style:groove;
    border-width: 40-px;
}

.contato{
    ;
    width: auto;
border-radius: 30px;

display: inline-block;
}

.texto{
    background-color: yellow;
    width: 50%;
    border-radius: 30px;
    margin: auto;
    text-align: justify;
}