main{
      background-color: black;
}

header {
        background-color: yellow;
}

nav li {
        display: inline;
        margin-right: 10px;
}

nav a:hover {
     color:white;
        text-decoration: underline;
}
        
nav a {
 text-transform: uppercase;
 color:black;
font-weight: bold;
font-size: 30px;
text-decoration: none;
}

nav {
        position: absolute;
        top: 50px;
        right: 0;
}

.caixa{
        position:relative;
        width: 940px;
        margin: 0 auto;
}

.logotipo{
        width: 15%;
}

.servicos{
        width: 1280px;
        margin: 0 auto;
        color: yellow
}

.servicos li{
        display: inline-block;
        text-align: center;
        width: 30%;
        vertical-align:top;
        margin: 30px 0.8%;
        padding: 0px;
        box-sizing: border-box;
        border: 2px solid yellow;
        border-radius: 10px;
}
.servicos li:hover {
        border-color: yellow;
}

.servicos li:hover h2{
        font-size: 34px;
        color: yellow
}

.servicos li:active {
        border-color: yellow;
        border-width: 4px;
}

.servico img{
        width: 180px;
        height:180px;
}

.servicos h2{
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 15px;
}

.descricao {
        font-size: 18px;
        color: yellow;
}


.preco {
        font-size: 22px;
        font-weight: bold;
        margin-top: 10px;
        color: yellow;
}

footer {
        background-color: yellow;
        padding: 30px;
        text-align: center;
}

footer img {
        width:10%;
}

.copyright {
        font-size: 13px;
        margin:20px 0 0;
        color: black;
}text

main {
width: 940px;
margin: 0 auto;
}

form {
        margin: 40px 0;
}

form label,form legend {
        display:block;
        font-size: 20px;
        margin: 0 0 10px;
}

.input-padrao {
        display:block;
        margin:0 0 20px;
        padding:10px 25px;
        width: 50%;
}

.checkbox {
        margin: 20px 0;
}

.enviar {
        width: 40%;
        padding: 15px 0;
        background: yellow;
        color: black;
        font-weight: bold;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: 1s all;
        cursor: pointer;
}

.enviar:hover {
        background-color: white;
        transform: scale(1.2);

}

table {
        margin: 20px 0 40px;
        background-color: yellow;
}

thead {
        background-color: white;
        color: black;
        font-weight: bold;
}

th,td {
        border: 1px  solid;
        padding: 8px 15px;
}

.contato-main {
        background-color: white;
}

.cordoquestionario {
        color: yellow;
}