header {
        background-color: purple;
}

nav li {
        display: inline;
        margin right 10px;
}
        
        nav a {
                text-transform: uppercase;
                color:white;
                font-weight: bold;
                font-size: 30px;
                text-decoration: none;
}
nav {
        position: relative; 
        margin-top:20px;
        top: 50px;
        right: 0px;
}

.caixa{
        position:relative;
        width: 940px;
        margin: 0 auto;
}